.outertable{
    width: 75%;
    margin: auto;
}

.innertable{
    width: 100%;
    margin-bottom: 50px;
}

.border{
    border-radius: 20px;
}

/* button */
.sendorder{ 
    background-color: rgba(53, 39, 68, 0.781);
    color: white;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}

.placeordertr{
    border: none;
}

.addbtn{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background-color: rgba(53, 39, 68, 0.781);
    color: white;
    border: none;
}

.tabattributes{
    font-weight: bolder;
    background-color: rgba(39, 27, 52, 0.964);
    color: white;
}

.siterow{
    background-color: rgba(39, 27, 52, 0.964);
    color: white;
}

.tablecols{
    background-color: rgba(53, 39, 68, 0.698);
}

.table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    border-color: #333;
    border-radius: 5px;
    color: black;
  }
  
  .table th,
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: black;
    border-radius: 5px;
  }

  .table th {
    background-color: rgba(53, 39, 68, 0.912);
    color: white;
    font-weight: bold;
  }
  
  .table td {
    background-color: white;
  }
  
  .table button {
    background-color: transparent;
    margin: auto;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 2%;
  }
  
  .table button:hover {
    text-decoration: none;
  }