/* SiteForm.module.css */

.formTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  width: 98%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #bab4b4;
  border-radius: 10px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
.clearButton {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.clearButton:hover {
  background-color: #999;
}
.container {
  margin: 20px;
}

.table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  border-color: #333;
  border-radius: 5px;
  color: black;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  color: black;
  border-radius: 5px;
}

.table th {
  background-color: rgba(53, 39, 68, 0.912);
  color: white;
  font-weight: bold;
}

.table td {
  background-color: white;
}

.table button {
  background-color: transparent;
  margin: auto;
  width: 50%;
  border: none;
  cursor: pointer;
  padding: 2%;
}

.table button:hover {
  text-decoration: none;
}

.btns{
  width: 15%;
  margin: auto;
}